@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root{
    --backgroundViolet: #48007b;
    --backgroundBlue: #334c8e;
    --backgroundGreen: #00e1b4;
    --backgroundGrey: #f3f3f3;
    --backgroundWhite: #ffffff;
    --textViolet:#48007b;
    --textBlue: #334c8e;
    --textGreen: #00e1b4;
    --textGrey: #f3f3f3;
    --textWhite: #ffffff;
    color: var(--textViolet);
    font-family: 'Cairo', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    /* border:1px solid red; */
}



html {
    scroll-behavior: smooth;
}


/* Navbar Section */

.header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(250, 250, 250, 0.9);
   backdrop-filter: blur(2px);
   top: 0;
   position: fixed;
   padding: 1em 4em;
   height: 85px;
   z-index: 4;
}

.header a img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.navbar {
    display: flex;
    position: relative;
    gap: 80px;
    
}

.navbar__lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 14px;
}

.navbar__item {
    color: var(--textWhite);
}

.navbar_registro {
    display:flex;
    justify-self: space-between;
    align-items: center;
    letter-spacing: 2px;
    gap: 30px;
    font-size: 14px;
}

.navbar_registro--log{
    color: var(--textViolet) ;
    font-weight: 700;
}

.navbar_registro--reg {
    background-color: var(--backgroundViolet);
    border-radius: 20px;
    color: var(--textWhite);
    font-weight: 700;
    padding: 0.4em 1em;
}

/* Hero Section */

#hero {
    margin-top: 85px;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./gray-abstract-wireframe-technology-background1.jpg);
    background-size: cover;
    background-position: center;
    padding: 0em 4em;
}


.hero__container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
} 


.hero__info {
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 0;
}

.hero__info h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 1em;
}

.hero__info p {
    font-size: 30px;
    line-height: 1em;
    margin-top: 10px;

}

.hero__info h1 span {
    color: var(--textGreen);
    font-weight: 700;
}

.hero__btn--btn {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--textWhite);
    background: var(--backgroundGreen);
    border-radius: 20px;
    padding: 0.1em 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    margin-top: 20px;

}

.hero__airbuds {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.hero__img__estuche {
    position: relative;
    top:0px;
    left: 280px;
    width: 15em;
    height: 15em;
    z-index: 2; 
}

.hero__img__auriculares {
    position: relative;
    bottom: 20px;
    right: 40px;
    width: 26em;
    height: 20em;
    z-index: 3;
}


/* Info Section */

#info {    
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;  
}

.info__container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.info__img {
    display: flex;
    justify-content: center;
    align-items: center;

}

.info__img__auriculares {
    width: 18em;
}

.info__texto {
    height: 50vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    padding: 0em 2em;
}

.info__texto h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 1em;
}

.info__texto h2 span {
    font-weight: 700;
    color: var(--textGreen);
}

.info__texto p{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 20px;
    overflow: hidden;
}

/* Card Girl Section */

#card-girl {
    background: var(--backgroundViolet);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    
}

.card-girl__container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    
}

.card-girl__info h3 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1em;
    color: var(--textWhite);
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.card-girl__info span {
    font-weight: 700;
    color: var(--textGreen);
}

.card-girl__info {
    background: var(--backgroundViolet);
    height: 65vh;
    display: flex;
   
}

.card-girl__img img {
      position: relative;
      align-items: center;
      /* border-radius: 20px; */
      height: 65vh;
      display: flex;
}

/* Card Spec Section */

#spec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.spec__container {
    max-width: 1200px;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 0em 2em;
    gap: 60px;    
}

.spec__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--backgroundWhite);
    width: 200px;
    height: 250px;
    border-radius: 15px;
    border-style: solid;
    border-color: #48007b;
    gap: 10px;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
}

.spec__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.8em 0.8em;
    background: var(--backgroundViolet);
    border-radius: 0px 0px 14px 14px;
    width: 200px;
    height: 200px;
}
.spec__info h4 {
    font-size: 18px;
    font-weight: 800;
    color: var(--textGreen);
    line-height: 1.1em;
}

.spec__info p {
    font-size: 14px;
    font-weight: 600;
    color: var(--textWhite);
    line-height: 1em;
    margin-top: 5px;
}

.spec__card img{
    width: 100px;
    height: 100px;
}

/* Preventa Section */

#preventa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    background: var(--backgroundGreen);
    height: 40vh;
}

.prev__form {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: column;
}

.prev__info h2 {
    font-weight: 600;
    font-size: 44px;
    color: var(--textViolet);
    text-align: center;
    line-height: 1em;
}

.prev__info span {
    font-weight: 700;
    font-size: 46px;
    color: var(--textWhite);
    line-height: 1em;
}

.prev__info p {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5em;
    text-align: center;
    margin-top: 5px;
}

.prev__plc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px
}

.prev__plc input {
    background: var(--backgroundWhite);
    width: 320px;
    height: 32px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--backgroundGreen);
    font-size: 0.8em;
    font-weight: 600;
    color: var(--textViolet);
    padding-left: 10px;
}

::placeholder {
    color: var(--textGreen);
    font-weight: 400;
}

.prev__plc a {
    background: var(--backgroundViolet);
    width: 120px;
    height: 27px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    color: var(--textWhite);
    padding-bottom: 30px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    background: var(--backgroundViolet);
    height: 25vh;
}

.footer__container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    color: var(--textWhite);
}

.footer__contacto {
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 10px;
}

.footer__contacto p {
    font-weight: 400;
}

.footer__contacto span {
    font-weight: 700;
    color: var(--textGreen);
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: row;
    gap: 10px;
}

.social_facebook, .social_instagram {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.footer__divisor {
    margin-top: 30px;
    border-top: 1px solid var(--backgroundGrey);
    opacity: .8;
    width: 1200px;
    color: var(--textWhite);
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.footer__divisor p {
    margin-top: 10px;
}

.footer__divisor span {
    font-weight: 500;
    font-size: 18px;
}





/* ----------------------------------------------------------------
REGISTER
---------------------------------------------------------------- */

/* Navbar Section */

.navbar_registro--sesion {
    background-color: var(--backgroundViolet);
    border-radius: 20px;
    color: var(--textWhite);
    font-weight: 700;
    padding: 0.4em 1em;
}

/* Register Section */

#register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    background: var(--backgroundGreen);
    width: 100vw;
    height: 60vh;
}

.register__form {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: column;
}

.register__info h1 {
    font-weight: 700;
    font-size: 44px;
    color: var(--textViolet);
    text-align: center;
    line-height: 1em;
}

.register__info--acount {
    font-weight: 600;
    font-size: 44px;
    color: var(--textWhite);
    line-height: 1em;
}

.register__info p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
    margin-top: 10px;
}

.register__info p span {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.register__plc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px
}

.register__plc input {
    background: var(--backgroundWhite);
    width: 320px;
    height: 40px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--backgroundGreen);
    font-size: 1em;
    font-weight: 600;
    color: var(--textViolet);
    padding-left: 10px;
}

::placeholder {
    color: var(--textGreen);
    font-weight: 400;
}

.register__plc a {
    background: var(--backgroundViolet);
    width: 120px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    color: var(--textWhite);
    padding: 3px 0px;
}