@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root{
    --backgroundViolet: #48007b;
    --backgroundBlue: #334c8e;
    --backgroundGreen: #00e1b4;
    --backgroundGrey: #f3f3f3;
    --backgroundWhite: #ffffff;
    --textViolet:#48007b;
    --textBlue: #334c8e;
    --textGreen: #00e1b4;
    --textGrey: #f3f3f3;
    --textWhite: #ffffff;
    color: var(--textViolet);
    font-family: 'Cairo', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    /* border:1px solid red; */
}


html {
    scroll-behavior: smooth;
}

/* Navbar Section */

.header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.9);
   top: 0;
   position: fixed;
   padding: 1em 8em;
   height: 85px;
   z-index: 1;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110%;
    cursor: pointer;
}

.navbar {
    display: flex;
    position: relative;
    gap: 80px;
    
}

.navbar__lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    letter-spacing: 3px;
    color:var(--textViolet);
    font-weight: 500;
    font-size: 14px;
}

.navbar_registro {
    display:flex;
    justify-self: space-between;
    align-items: center;
    letter-spacing: 2px;
    gap: 30px;
    font-size: 14px;
}

.navbar_registro--log{
    color: var(--textViolet) ;
    font-weight: 700;
}

.navbar_registro--reg {
    background-color: var(--backgroundViolet);
    border-radius: 20px;
    color: var(--textWhite);
    font-weight: 700;
    padding: 0.4em 1em;
}

/* Hero Section */

#hero {
    width: 100%;
    height: 80vh;
    background-image: url(./gray-abstract-wireframe-technology-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 8em;
}




.hero__title {
    display: flex;
    flex-direction: column;
    place-content: center;
    margin-top: 60px;
}

.hero__title h1 {
    font-weight: 600;
    font-size: 58px;
    line-height: 1em;
    z-index: 1;
}

.hero__title p {
    font-size: 28px;
    z-index: 1;
}

.hero__title h1 span {
    color: var(--textGreen);
    font-weight: 700;
}

.hero__btn--btn {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--textWhite);
    background: var(--backgroundGreen);
    border-radius: 20px;
    padding: 0.1em 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    margin-top: 10px;
    z-index: 1;
}

.hero__img__estuche {
    display: flex;
    align-items: center;
    position: relative;
    top: 340px;
    left: 100px;
    width: 40em;
    height: 28em;
    z-index: 1; 
}

.hero__img__auriculares {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 200px;
    left: 40px;
    width: 46em;
    height: 34em;
    z-index: 3;
}

